/* base */

@import url(base/reset.css);
@import url(base/variables.css);

/* Componets */
@import url(components/button-base.css);
@import url(components/card-base.css);
@import url(components/section-title.css);
@import url(components/section-paragraph.css);
@import url(components/badge.css);
@import url(components/card.css);
@import url(components/testimonials.css);

/* Layout */
@import url(layout/container.css);
@import url(layout/header.css);
@import url(layout/hero.css);
@import url(layout/footer.css);

/* pages */

/* utilities */
@import url(utilities/flex.css);
@import url(utilities/spacing.css);
@import url(utilities/text.css);