.container{
    max-width: var(--container-md);
    margin-inline: auto;
    padding-inline: var(--space-lg);
}

.container--sx{
    max-width: var(--container-xs);
}

.container--sm{
    max-width: var(--container-sm);
}