.footer{
    background: var(--color-bg-footer);
    padding: var(--space-2xl) 0;
}

.footer__input{
    width: 30rem;
    height: 4.8rem;
    border: var(--border-sm) solid #D0D5DD;
    border-radius: var(--radius-md);
    padding-left: var(--space-md);
    font-family: var(--font-primary);
    font-size: var(--font-md);
}

.footer__input::placeholder{
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    color: #667085;

    padding-left: 1.6rem;

    transition: opacity 0.2s ease;
}

.footer__input:focus::placeholder{
    opacity: 0;
}

.footer__button{
    background: #8E2424;
    padding: 1.2rem 2rem;
    border-radius: var(--radius-md);
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}